@import "../styles/foundation.scss";

$size: 32px;

.squareBtn {
  display: flex;

  align-items: center;
  justify-content: center;

  height: $size;
  width: $size;

  border-radius: $borderRadius;

  transition: background-color $tranzition150;

  & path {
    transition: fill $tranzition150;
  }
}
