@import "../styles/foundation.scss";

$size: 40px;

.circleBtn {
  display: flex;

  align-items: center;
  justify-content: center;

  height: $size;
  width: $size;

  border-width: $defaultBorder;
  border-style: solid;
  border-radius: 50%;

  transition: border-color $tranzition200, box-shadow $tranzition200;

  & svg {
    & > * {
      transition: fill $tranzition200;
    }
  }
}
