@import "../styles/foundation.scss";

$borderWidth: 1px;
$borderWidthError: 2px;

$horizontalPadding: 14px;

.container {
  width: 100%;

  position: relative;

  user-select: none;
  &__title {
    width: 100%;

    display: inline-block;

    margin-bottom: 4px;

    color: $neutral800;
  }

  &__field {
    width: 100%;
    min-height: 46px;

    position: relative;

    border-width: $borderWidth;
    border-style: solid;
    border-radius: $borderRadius;

    cursor: pointer;

    transition: border-radius $tranzition150;

    > div {
      min-height: inherit;

      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-left: $horizontalPadding;
      padding-right: $horizontalPadding;

      span {
        margin-right: 16px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      svg {
        min-width: 16px;

        > * {
          fill: $neutral900;
        }

        transition: transform $tranzition150;
      }
    }

    ul {
      width: calc(100% + #{$borderWidth} * 2);

      position: absolute;

      left: -#{$borderWidth};
      top: 46px;

      margin: 0;
      padding: 0;

      border-width: 1px 1px 1px;
      border-style: solid;
      border-radius: 0 0 $borderRadius $borderRadius;

      list-style-type: none;

      background-color: white;

      display: none;

      z-index: 99;

      li {
        min-height: 48px;

        display: flex;

        align-items: center;

        padding-left: $horizontalPadding;
        padding-right: $horizontalPadding;

        transition: background-color $tranzition150;

        span {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      > :last-child {
        border-radius: 0 0 $borderRadius $borderRadius;
      }
    }

    .bottomChildren {
      max-width: 100%;
    }

    .selected {
      margin: 0;
      span {
        color: $neutral800;
      }
    }
  }
}

.disabled {
  > div {
    border-color: $neutral300;
  }

  span {
    color: $neutral300;
  }

  > div {
    svg {
      > * {
        fill: $neutral300;
      }
    }
  }
}

.open {
  & .container__field {
    border-radius: $borderRadius $borderRadius 0 0;

    > div {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  ul {
    display: block;
  }
}

.error,
.success {
  > div {
    border-width: $focusBorder;
  }

  ul {
    width: calc(100% + #{$borderWidthError} * 2);
    left: -#{$borderWidthError};

    border-left-width: $focusBorder;
    border-right-width: $focusBorder;
    border-bottom-width: $focusBorder;
  }
}
