@import "../../styles/foundation.scss";

.container {
  position: relative;
  width: 100%;

  textarea {
    outline: none !important;
    resize: none;

    border-style: solid;
    border-width: $defaultBorder;
    border-radius: $borderRadius;
    padding: 14px 16px;
    width: 100%;
    color: $neutral900;

    transition: border-color $tranzition150, border-width $tranzition150,
      padding $tranzition150;

    &:focus {
      padding: 13px 15px;
      border-width: $focusBorder;
    }

    &:disabled {
      border-color: $neutral200;
      color: $neutral300;
      background-color: $neutral0;
    }
  }

  .error,
  .success {
    padding: 13px 15px;
    border-width: $focusBorder;
  }
}
