@import "../styles/foundation.scss";

$size: 32px;

.container {
  display: flex;

  align-items: center;
  justify-content: center;

  height: $size;
  width: $size;

  border-radius: $borderRadius;

  background-color: transparent;

  transition: background-color $tranzition150;

  input[type="checkbox"] {
    display: none;
  }

  & path {
    transition: fill $tranzition150;
  }

  &:hover {
    background-color: $neutral200;
  }
}
