// Border
$borderRadius: 4px;
$borderRadius_sm: 2px;
$defaultBorder: 1px;
$focusBorder: 2px;

// $switchTranzition: 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
$tranzition150: 150ms ease;
$tranzition200: 200ms ease-in-out;
