@import "../styles/foundation.scss";

.container {
  width: fit-content;

  position: relative;

  .date {
    height: $dateHeight;

    display: flex;
    align-items: center;

    padding-left: 11px;
    padding-right: 21px;

    border-width: $defaultBorder;
    border-style: solid;
    border-radius: $borderRadius;

    cursor: pointer;

    transition: border-color $tranzition150;

    &__full {
      width: 133px;
    }

    &__short {
      width: 158px;
    }

    svg {
      margin-right: 8px;

      & > * {
        transition: fill $tranzition150;
      }
    }

    span {
      text-transform: capitalize;

      transition: color $tranzition150;
    }
  }
}
