@import "../styles/foundation.scss";

$size: 18px;

.container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 3px 4px;
  border-radius: $borderRadius;
  cursor: pointer;

  input[type="checkbox"] {
    display: none;
  }

  .checkbox {
    width: $size;
    min-width: $size;
    height: $size;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $borderRadius_sm;
    border-width: $defaultBorder;
    border-style: solid;
    transition: background-color $tranzition150;
    cursor: pointer;
  }

  .content {
    position: relative;
    padding-left: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.001em;
    -webkit-user-select: none;
  }
}

.disabled {
  input[type="checkbox"]:checked {
    + div {
      background-color: $neutral300;
      border-color: transparent;
    }
  }

    input[type="checkbox"]:not(:checked){
    ~ span {
        color: $neutral300;
      }
  }

  div {
    border-color: $neutral300;
  }
}
