@import "../../styles/foundation.scss";

.container {
    display: flex;

    width: fit-content;

    border-width: $defaultBorder;
    border-style: solid;
    border-radius: $borderRadius;

    &__checkbox {
        padding: 10px 2px 10px 10px;

        &__hover {
            display: grid;
            place-items: center;

            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: coral;
        }
    }

    &__content {
        padding: 12px 12px 12px 0;

        input {
            border-style: none;
            outline: none;
        }
    }
}
