@import "../styles/foundation.scss";

$size: 32px;

.container {
    display: flex;

    align-items: center;
    justify-content: center;

    height: $size;
    width: $size;

    border-radius: $borderRadius;

    cursor: pointer;

    transition: background-color $tranzition150;

    input[type="checkbox"] {
        display: none;
    }

    & svg {
        & > * {
            transition: fill $tranzition150;
        }
    }
}
