@import "../styles/foundation.scss";

$height: 32px;
$width: 60px;

.squareBtn {
  display: flex;

  align-items: center;
  justify-content: center;

  height: $height;
  width: $width;

  border-radius: $borderRadius;

  transition: background-color $tranzition150;
}
